<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'crud/css/bootstrap.min.css' %}">
   
<title>Django CRUD operations </title>
</head>

<body>

    {% block main-content %} 
this is main contents
    {% endblock main-content %}
    

<script src="{% static 'crud/js/bootstrap.bundle.min.js' %}"></script>
    
  </body>
</html>
